.box-widget {
    border: 1px solid $border;
    padding: 10px;
    color: $text-sub;
    & + .box-widget{
        margin-top: 15px;
    }
    .box-top{
        margin-bottom: 10px;
        >.title{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .box-body{

    }
}
