/*    Font Variable
----------------------*/
$font-main: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
/*    Config
----------------------*/
$radius: 3px;

/*    Base Color
------------------*/
$success: #4db848;
$success-dark: #43a047;
$info: #135eac;
$info-dark: #105296;
$primary: #4680ff;
$primary-dark: #3a77d9;
$warning: #ffb64d;
$warning-dark: #e7b63a;
$danger: #fb3a3a;
$danger-dark: #e63327;

$white: #fff;
$red: #df0000;
$red-dark: #c90000;
$gray: #f6f7f9;
$gray-dark: #dddee0;
$blue: #135eac;
$blue-dark: #105296;
$green: #4db848;
$green-dark: #48a747;
$black:#3a3a3a;
$black-dark:#2e2e2e;

/*    Mau chu
------------------*/
$text-title: #333;
//$text-title: #fff;
$text-title-sub: #666;
$text-main: #252525;
$text-sub: #484848;
$text-hint: rgba(0, 0, 0, 0.5);

/*    Border
------------------*/
$border: #ddd;
$color-main: #2A272A;
$color-sub: #00AAA9;
//$color-main: #222;
//$color-sub: #00adef;
/*    Brand color
----------------------*/
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #cd201f;
$google-plus: #dd4b39;
$linkedin: #007bb6;

/*    Background
----------------------*/
$bg-body: #fff;
//$bg-body: #000;
//$bg-sub: #1f1f1f;
$bg-sub: #f0f2f5;
$bg-extra: #f6f6f6;
//$bg-extra: #1f1f1f;
$bg-success: #26dad2;
$bg-info: #1976d2;
$bg-primary: #48509a;
$bg-warning: #ffb22b;
$bg-danger: #ef5350;
$bg-purple: #7460ee;
$bg-theme: #1976d2;
$bg-inverse: #2f3d4a;
