.sale-contact{
    .avatar{
        display: flex;
        color: $text-sub;
        img{
            margin-right: 10px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .info{
            p:first-of-type{
                font-size: 16px;
            }
            p:last-of-type{
                margin-top: 0;
                font-weight: 600;
                a{
                    color: #df0000;

                }
            }
        }
    }
    .action{
        margin-top: 10px;
        display: flex;
        a{
            flex: 0 0 calc(50% - 2.5px);
        }
    }
}
