.nav-action {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    .btn{
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 26px;
        border-radius: 0;
        border: none;
        font-size: 22px;
        flex: 1 1 50%;
    }
    .type-one{
        display: flex;
    }
}
